{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
        <section id="container">
            <div class="content">
                <div class="container-card">
                    <h3 class="subtitle">Missão e Valores</h3>
                    <p class="text">
                        <span style="font-weight: 600;">Missão</span><br>
                        Desenvolver inovações tecnológicas e formar recursos humanos para a indústria química, para os setores de energia, construção civil e correlatos, visando sempre o bem-estar da sociedade e seu desenvolvimento sustentável.
                        <br><br>
                        <span style="font-weight: 600;">Valores</span><br>
                        Guiar todas as nossas ações por princípios éticos e morais, prezando sempre pela segurança e saúde das pessoas; e pelo uso correto do patrimônio público.
                    </p>
                </div>
                <div class="container-card">
                    <h3 class="subtitle">Coordenação</h3>
                    <div class="membros">
                        <div class="member">
                            <img class="photo" src="{{ url_for('static',filename='img/michelle.jpg') }}">
                            <div class="info">
                                <span class="name">Michelle Jakeline Cunha Rezende</span>
                                <span class="cargo">Doutora em Química</span>
                                <span class="emails">michelle@iq.ufrj.br<br>mjcrezende@gmail.com</span>
                                <span class="lattes" onclick="window.open('http:\/\/lattes.cnpq.br/8174906526130941', '_blank' );">LATTES</span>
                            </div>
                        </div>
                        <div class="member">
                            <img class="photo" src="{{ url_for('static',filename='img/simone.gif') }}">
                            <div class="info">
                                <span class="name">Simone Pereira da Silva Ribeiro</span>
                                <span class="cargo">Doutora em Química</span>
                                <span class="emails">spsilva@iq.ufrj.br<br>spquimica@yahoo.com.br</span>
                                <span class="lattes" onclick="window.open('http:\/\/lattes.cnpq.br/9594407695128502', '_blank' );">LATTES</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-card">
                    <h3 class="subtitle">Equipe</h3>
                    <div class="membros">
                        {% if members.rsc %}
                        <span style="font-weight: 600; width: 100%; margin-top: 10px;">Pesquisadores</span>
                        {% endif %}
                        {% for member in members.rsc %}
                        <div class="member">
                            <img class="photo" src="{{ member.photo.url() }}">
                            <div class="info">
                                <span class="name">{{ member.name }}</span>
                                {% if member.project %}
                                <span class="cargo">{{ member.project }}</span>
                                {% endif %}
                                {% if member.lattes %}
                                <span class="lattes" onclick="window.open({{ member.lattes }}, '_blank' );">LATTES</span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <span style="font-weight: 600; width: 100%; margin-top: 10px;">Doutorado</span>
                        {% for member in members.phd %}
                        <div class="member">
                            <img class="photo" src="{{ member.photo.url() }}">
                            <div class="info">
                                <span class="name">{{ member.name }}</span>
                                {% if member.project %}
                                <span class="cargo">{{ member.project }}</span>
                                {% endif %}
                                {% if member.lattes %}
                                <span class="lattes" onclick="window.open({{ member.lattes }}, '_blank' );">LATTES</span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <span style="font-weight: 600; width: 100%; margin-top: 10px;">Mestrado</span>
                        {% for member in members.msc %}
                        <div class="member">
                            <img class="photo" src="{{ member.photo.url() }}">
                            <div class="info">
                                <span class="name">{{ member.name }}</span>
                                {% if member.project %}
                                <span class="cargo">{{ member.project }}</span>
                                {% endif %}
                                {% if member.lattes %}
                                <span class="lattes" onclick="window.open({{ member.lattes }}, '_blank' );">LATTES</span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <span style="font-weight: 600; width: 100%; margin-top: 10px;">Iniciação Científica</span>
                        {% for member in members.ic %}
                        <div class="member">
                            <img class="photo" src="{{ member.photo.url() }}">
                            <div class="info">
                                <span class="name">{{ member.name }}</span>
                                {% if member.project %}
                                <span class="cargo">{{ member.project }}</span>
                                {% endif %}
                                {% if member.lattes %}
                                <span class="lattes" onclick="window.open({{ member.lattes }}, '_blank' );">LATTES</span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <span style="font-weight: 600; width: 100%; margin-top: 10px;">Trabalho de Conclusão de Curso</span>
                        {% for member in members.tcc %}
                        <div class="member">
                            <img class="photo" src="{{ member.photo.url() }}">
                            <div class="info">
                                <span class="name">{{ member.name }}</span>
                                {% if member.project %}
                                <span class="cargo">{{ member.project }}</span>
                                {% endif %}
                                {% if member.lattes %}
                                <span class="lattes" onclick="window.open({{ member.lattes }}, '_blank' );">LATTES</span>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="container-card">
                    <h3 class="subtitle">Egressos</h3>
                    <div class="egressos">
                        <div class="membros">
                            {% if past_members.rsc %}
                            <span style="font-weight: 600; width: 100%; margin-top: 10px;">Pesquisadores</span>
                            {% for item in past_members.rsc %}
                            <div class="item" style="margin-bottom: 20px;">
                                <span class="author" style="font-weight: 600;">{{ item.name }}</span>
                                <br><span class="item-title">{{ item.description }}</span><br>
                                Ocupação atual: {{ item.workplace }} | Ano de saída: {{ item.year }}</span>
                            </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% if past_members.phd %}
                            <span style="font-weight: 600; width: 100%; margin-top: 10px;">Doutorado</span>
                            {% for item in past_members.phd %}
                            <div class="item" style="margin-bottom: 20px;">
                                <span class="author" style="font-weight: 600;">{{ item.name }}</span>
                                <br><span class="item-title">{{ item.description }}</span><br>
                                Ocupação atual: {{ item.workplace }} | Ano de saída: {{ item.year }}</span>
                            </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% if past_members.msc %}
                            <span style="font-weight: 600; width: 100%; margin-top: 10px;">Mestrado</span>
                            {% for item in past_members.msc %}
                            <div class="item" style="margin-bottom: 20px;">
                                <span class="author" style="font-weight: 600;">{{ item.name }}</span>
                                <br><span class="item-title">{{ item.description }}</span><br>
                                Ocupação atual: {{ item.workplace }} | Ano de saída: {{ item.year }}</span>
                            </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% if past_members.ic %}
                            <span style="font-weight: 600; width: 100%; margin-top: 10px;">Iniciação Científica</span>
                            {% for item in past_members.ic %}
                            <div class="item" style="margin-bottom: 20px;">
                                <span class="author" style="font-weight: 600;">{{ item.name }}</span>
                                <br><span class="item-title">{{ item.description }}</span><br>
                                Ocupação atual: {{ item.workplace }} | Ano de saída: {{ item.year }}</span>
                            </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% if past_members.tcc %}
                            <span style="font-weight: 600; width: 100%; margin-top: 10px;">Trabalho de Conclusão de Curso</span>
                            {% for item in past_members.tcc %}
                            <div class="item" style="margin-bottom: 20px;">
                                <span class="author" style="font-weight: 600;">{{ item.name }}</span>
                                <br><span class="item-title">{{ item.description }}</span><br>
                                Ocupação atual: {{ item.workplace }} | Ano de saída: {{ item.year }}</span>
                            </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                    </div>
                </div>
            </div>
        </section>
        {% include 'footer.html' %}
    </body>
</html>
{% endblock %}