{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
        <section id="container">
            <div class="content">
                <div class="container-card" id="contact">
                    <span>Telefone</span>
                    <br>
                    +55 (21) 2590-0990
                    <br>
                    Ramal: 220
                    <br><br>
                    <span>Email</span>
                    <br>
                    lemae.iq.ufrj@gmail.com
                    <br><br>
                    <span>Coordenação</span>
                    <br>
                    Profa. Michelle Jakeline Cunha Rezende
                    <br>
                    Email: michelle@iq.ufrj.br
                    <br><br>
                    <span>Localização</span>
                    <br>
                    Polo de Xistoquímica “Prof. Claudio Costa Neto”
                    <br>
                    Rua Hélio de Almeida, nº 40, Sala B 107
                    <br>
                    Cidade Universitária – Rio de Janeiro – RJ
                    <br>
                    CEP: 21.941-614
                    <br><br>
                    <div style="width: 100%"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Rua%20H%C3%A9lio%20de%20Almeida,%20n%C2%BA%2040,%20Sala%20B%20107+(LEMAE)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure distance on map</a></iframe></div>
                </div>
            </div>
        </section>
        {% include 'footer.html' %}
    </body>
</html>
{% endblock %}