{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
        <section id="container">
            <div class="content">
                <div class="container-card">
                    <h3 class="subtitle">Laboratório</h3>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum urna id lorem elementum, sit amet sodales lacus sagittis. Etiam quis lacus vel dolor volutpat tempor. Quisque vulputate est eu venenatis sollicitudin. Vestibulum maximus pulvinar lectus in eleifend. Sed lacinia placerat tristique. Mauris a eros vel odio ornare rhoncus vel in arcu. Duis est dui, pretium ac augue in, pretium tempor nulla. Aliquam nec finibus erat. Nullam maximus eu quam in consequat.
                        <br><br>
                        Donec at diam ac turpis accumsan ullamcorper eget et eros. Nulla rhoncus ex neque, et condimentum dolor accumsan in. Donec pellentesque, nisl quis tempus accumsan, mauris leo ultrices tellus, vel accumsan velit urna vitae arcu. In non lobortis sapien. Quisque a nulla diam. Nam eleifend turpis a tellus porta, in hendrerit velit tincidunt. Vestibulum tristique felis sed egestas semper. Sed ut purus posuere arcu mattis tristique gravida ac libero.
                    </p>
                </div>
                <div class="container-card">
                    <h3 class="subtitle">Equipamentos</h3>
                    <div id="equipments">
                        {% for item in equipments %}
                        <div class="item">
                            <img class="photo" src="{{ item.image.url() }}">
                            <span class="name">{{ item.name }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        {% include 'footer.html' %}
    </body>
</html>
{% endblock %}