{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
        <section id="container">
            <div class="content">
                <div class="container-card">
                    <p>
<span style="font-weight: 600;">Desenvolvimento de produtos candidatos a aditivos para atuação em campos de produção de petróleo
</span>
<br><br>
               
Esta linha de pesquisa abrange a síntese e a avaliação de novos produtos candidatos a inibidores de incrustação inorgânica, inibidores de corrosão para meio ácido e para meio salino, e inibidores de deposição orgânica causada por parafinas e asfaltenos.

<br><br><br>
<span style="font-weight: 600;">Desenvolvimento de produtos candidatos a aditivos para biodiesel
</span>
<br><br>

O objetivo desta linha de pesquisa é desenvolver aditivos multifuncionais, com ação antioxidante, biocida e inibidora de corrosão, que permitam aumentar o tempo de estocagem de biodiesel com garantia de manutenção da sua qualidade.

<br><br><br>
<span style="font-weight: 600;">Desenvolvimento de materiais retardantes de chama
</span>
<br><br>

Essa linha de pesquisa, inovadora no país, tem o objetivo de desenvolver materiais poliméricos e revestimentos com propriedades retardantes de chama, que dificultem a ignição e propagação da chama, evitando a ocorrência de incêndios, que levam a perdas humanas e materiais irreparáveis. 

<br><br><br>
<span style="font-weight: 600;">Uso de argila como catalisador em reações orgânicas
</span>
<br><br>

Os catalisadores a base de argilas são versáteis, possuem baixo custo e facilidade de recuperação e reutilização. O grupo investiga sua aplicação em reações de interesse industrial, tendo como foco alta conversão e seletividade nos produtos alvos.

<br><br><br>
<span style="font-weight: 600;">Desenvolvimento de materiais didáticos e ferramentas voltados para a melhoria do ensino de Química no Ensino Médio
</span>
<br><br>

O objetivo do LEMAE-IQ/UFRJ é contribuir com recursos didáticos que facilitem o aprendizado de conceitos químicos, sobretudo aqueles conceitos que os estudantes do Ensino Médio apresentam maior dificuldade de compreensão.

</p>
                </div>
            </div>
        </section>
        {% include 'footer.html' %}
    </body>
</html>
{% endblock %}