<div class="btns">
    <div class="language">
    {% for language in AVAILABLE_LANGUAGES.items() %}
    {% if CURRENT_LANGUAGE == language[0] %}
        <span class="language-1">{{ language[1] }}</span>
    {% else %}
        <a class="language-0" href="{{ url_for('set_language', language=language[0]) }}" >{{ language[1] }}</a>
    {%  endif %}
    {% endfor %}
    </div>
    <div id="instagram-btn" onclick="javascript:window.open('https://instagram.com/lemae.iq.ufrj', '_blank');" style="background: url('{{ url_for("static", filename="img/instagram.svg") }}');
    background-size: cover"></div>
    <div id="linkedin-btn" onclick="javascript:window.open('https://www.linkedin.com/in/lemae-iq-ufrj-2a7199274', '_blank');" style="background: url('{{ url_for("static", filename="img/linkedin.svg") }}'); background-size: cover"></div>
    <div id="lattes-btn" onclick="javascript:window.open('https://dgp.cnpq.br/dgp/espelhogrupo/3728441585416976', '_blank');">DGP CNPq</div>
</div>