
            <div id="hamburger" onclick="javascript:showhide('hide-menu')"></div>
            <div id="hide-menu">
                <div id="x" onclick="javascript:showhide('hide-menu')"></div>
                <div class="vertical-menu">
                    <a href="/">Início</a>
                    <a href="/quem-somos">Quem Somos</a>
                    <a href="/linhas-de-pesquisa">Linhas de Pesquisa</a>
                    <a href="/infraestrutura">Infraestrutura</a>
                    <a href="/produtos-desenvolvidos">Produtos Desenvolvidos</a>
                    <a href="/producao-cientifica">Produção Científica</a>
                    <a href="/parceiros">Parceiros</a>
                    <a href="/links">Links</a>
                    <a href="/contato">Contato</a>
                  </div>
            </div>