<a href="/">{{ gettext('Início') }}</a>
<a href="/quem-somos">{{ gettext('Quem Somos') }}</a>
<a href="/linhas-de-pesquisa">{{ gettext('Linhas de Pesquisa') }}</a>
<a href="/infraestrutura">{{ gettext('Infraestrutura') }}</a>
<a href="/produtos-desenvolvidos">{{ gettext('Produtos Desenvolvidos') }}</a>
<a href="/producao-cientifica">{{ gettext('Produção Científica') }}</a>
<a href="/parceiros">{{ gettext('Parceiros') }}</a>
<a href="/links">{{ gettext('Links') }}</a>
<a href="/contato">{{ gettext('Contato') }}</a>